.navigation-bar {
  --padding: 10px;
  padding-bottom: var(--padding);
  grid-template-columns: 1fr 2fr 1fr;
  place-content: end;

  .navigation-bar-left {
    place-content: end start;
  }

  .navigation-bar-center {
    place-content: end center;
    font-weight: map-get(global.$font-weight, 'black');
    font-size: map-get(global.$font-size, large);
  }

  .navigation-bar-right {
    place-content: end;
  }
}