.navigation-bar {
  --padding: 10px;
  padding-bottom: var(--padding);
  grid-template-columns: 1fr 2fr 1fr;
  place-content: end;

  .navigation-bar-left {
    place-content: end start;
  }

  .navigation-bar-center {
    place-content: end center;

    font-size: 18px;
  }

  .navigation-bar-right {
    place-content: end;
  }
}