/* components/quiz-button/quiz-button.wxss */
.quiz-button-wrapper {
  place-items: center;
  place-content: center;
  background-color: map-get(global.$colors, 纯白色);
  min-width: 105px;
  min-height: 40px;
  padding: map-get(global.$padding, default);
  /* 设置过渡效果 */
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  font-size: map-get(global.$font-size , medium);
  font-weight: map-get(global.$font-weight , bold);

  .quiz-button {
    /* 防止文本换行 */
    white-space: nowrap;
    /* 隐藏超出部分 */
    overflow: hidden;
    /* 显示省略号 */
    text-overflow: ellipsis;
  }
}

/* 按钮点击样式 */
.quiz-button-wrapper:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 10px 5px rgba(188, 92, 255, 0.5);
}