page {
  background: linear-gradient(180deg, #2F1969 48.5%, #5830C7 78%, #A729E2 100%);
}

.container {
  place-items: center;

  .generalize {
    /* 强调文本 */
    place-items: center;
    padding: 10px 0;

    .text1 {
      /* Done! */
      font-size: map-get(global.$font-size , xxx-large);
      font-weight: map-get(global.$font-weight , bold);
    }

    .text2 {
      /* Done! */
      font-size: map-get(global.$font-size , xxxx-large);
      font-weight: map-get(global.$font-weight , extra-bold);
    }
  }

  .emoji {
    /* 表情 */

    text {
      /* 🥳 */
      font-size: 160px;
      text-shadow: 0 0 10px rgba(201, 88, 255, 0.5),
        0 0 20px rgba(201, 88, 255, 0.5),
        0 0 30px rgba(201, 88, 255, 0.5),
        0 0 40px rgba(201, 88, 255, 0.5),
        0 0 70px rgba(201, 88, 255, 0.5),
        0 0 80px rgba(201, 88, 255, 0.5),
        0 0 100px rgba(201, 88, 255, 0.5),
        0 0 150px rgba(201, 88, 255, 0.5);
    }
  }

  .score-group {
    place-items: center;
    /* 分数 */

    .score {
      /* 分数数字 */
      place-items: end center;
      grid-template-columns: auto auto auto;

      .score-text {
        /* + */
        font-size: map-get(global.$font-size , small);
        font-weight: map-get(global.$font-weight , black);
      }

      .score-number {
        /* 100 */
        background: linear-gradient(142.35deg, #8C421D 22.68%, #FBE67B 42.5%, #FCFBE7 55.31%, #F7D14E 69.6%, #D4A041 83.62%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        font-size: 45px;
        line-height: 45px;
        font-weight: map-get(global.$font-weight , 'black');
      }
    }

    .text {
      /* 这是您第1次自我探索！ 🌟自我探索值增加100分！ */
      font-size: map-get(global.$font-size , medium);
      font-weight: map-get(global.$font-weight , bold);
      text-align: center;
    }
  }

  .button-group {
    padding: 10px 0;
    gap: 10px;

    .share {
      .quiz-button-wrapper {
        width: 74.4vw;
        height: 52px;
        background: map-get(global.$gradients , 按钮烟色渐变);
        border-radius: map-get($map: global.$border-radius, $key: round);

        .quiz-button {
          color: map-get(global.$colors , 纯白色);
        }
      }

    }

    .finish {
      .quiz-button-wrapper {
        height: 52px;
        width: 74.4vw;
        background: map-get(global.$colors , 白色透明十);
        border-radius: map-get($map: global.$border-radius, $key: round);
      }

      .quiz-button {
        color: map-get(global.$colors , 纯白色);
      }
    }
  }
}