.container {

  .generalize {
    /* 强调文本 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    text {
      /* Done! */

      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      // line-height: 48px;
      text-align: center;

      color: #FFFFFF;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;

    }
  }

  .emoji {
    /* 表情 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 0px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    text {
      /* 🥳 */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 160px;
      // line-height: 194px;
      text-align: center;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;

    }
  }
}