// 设置整个项目的背景色
page {
    background-color: #5830c7;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

view {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

button {
    display: grid;
    place-items: center;
    margin: 0;
    color: #ffffff;
    transition:
        transform 0.5s,
        box-shadow 0.2s;
}

button:active {
    /* 缩小按钮 */
    transform: scale(0.92);
    /* 添加阴影以模拟发光效果 */
    box-shadow: 0 0 15px rgba(98, 0, 234, 0.6);
}

/** 页面容器 */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

/** 头部粘性定位 */
.head-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

/** 绝对定位居中 */
.absolute-center {
    position: absolute;
    /* 子元素设置为绝对定位 */
    top: 50%;
    /* 距顶部50% */
    left: 50%;
    /* 距左侧50% */
    transform: translate(-50%, -50%);
    /* 通过平移实现真正居中 */
}

/** flex布局元素横向排列 */
.flex-row {
    display: flex;
    flex-direction: row;
}

/** flex布局元素纵向排列 */
.flex-column {
    display: flex;
    flex-direction: column;
}

.text-overflow {
    /* 强制文本在同一行显示 */
    white-space: nowrap;
    /* 隐藏超出容器范围的部分 */
    overflow: hidden;
    /* 超出部分显示省略号 */
    text-overflow: ellipsis;
}
