page {
  background: linear-gradient(180deg, #BC5CF8 0%, #5830C7 29.5%, #1F1146 100%);
}

.container {
  padding: 0 48px;
  padding-top: 125px;
  gap: 6px;

  .nick-name-container {
    display: flex;
    gap: 6px;
    font-size: map-get(global.$font-size , medium);
    font-weight: map-get(global.$font-weight , bold);

    .text {
      opacity: 0.5;
    }
  }

  .describe {
    font-size: map-get(global.$font-size , xx-large);
    font-weight: map-get(global.$font-weight , extra-bold);
  }

  .info {
    font-size: map-get(global.$font-size , small);
    font-weight: map-get(global.$font-weight , semi-bold);
    opacity: 0.71;
  }

  .start-button-wrapper {
    border-radius: map-get(global.$border-radius , round);
  }

  .start-button {
    font-size: map-get(global.$font-size , x-large);
    font-weight: map-get(global.$font-weight , extra-bold);
  }
}