.personal-center {
  height: 100vh;
  background-color: map-get($map: global.$colors, $key: 紫黑);

  // height: 89vh;
  quiz-navigation-bar {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://th.bing.com/th/id/OIP.Zte3ljd4g6kqrWWyg-8fhAHaEo?w=294&h=183&c=7&r=0&o=5&pid=1.7');
    /* 禁止背景图重复 */
    background-repeat: no-repeat;
    /* 让背景图居中 */
    background-position: top center;
    /* 按比例拉大背景图，覆盖整个背景区域 */
    background-size: auto 38%;
  }

  .avatar {
    grid-template-columns: auto;
    place-items: start center;
    padding: 23.5px;

    text {
      font-size: map-get(global.$font-size , medium);
      font-weight: map-get(global.$font-weight , bold);
    }
  }

  .statistics {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

    .item {
      grid-template-columns: auto auto;
      align-items: center;
      gap: 6px;
      background: rgba($color: #fff, $alpha: 0.05);
      border-radius: map-get($map: global.$border-radius, $key: base);
      width: 110px;
      height: 32px;

      .count {
        font-size: map-get(global.$font-size , medium);
        font-weight: map-get(global.$font-weight , extra-bold);
        justify-self: end;
      }

      .name {
        font-size: map-get(global.$font-size , x-small);
        font-weight: map-get(global.$font-weight , medium);
        color: map-get($map: global.$colors, $key: 白色透明三十);
        justify-self: start;
      }
    }
  }

  .ranking {
    .class {
      position: -webkit-sticky;
      position: sticky;
      top: -1px;

      gap: 12px;
      background-color: map-get(global.$colors, 主题色);
      border-radius: map-get($map: global.$border-radius, $key: base) map-get($map: global.$border-radius, $key: base) 0 0;

      .award-hidden {
        // transform: translate(50%, -50%) scale(0);
        opacity: 0;
        width: 95vw;
        position: absolute;
      }


      .award {
        border-radius: 0 0 15px 15px;
        grid-template-columns: auto auto;
        place-content: center space-between;
        place-items: center start;
        padding: 10px 13px;
        margin: 0 14.5px;
        background-color: #46269E;
        /* 设置过渡效果 */
        transition: all 0.5s ease;

        .text1 {
          font-size: map-get(global.$font-size , medium);
          font-weight: map-get(global.$font-weight , extra-bold);
        }

        .text2 {
          font-size: map-get(global.$font-size , x-small);
          font-weight: map-get(global.$font-weight , bold);
          color: rgba($color: #fff, $alpha: 0.5);
        }

        quiz-button {
          grid-column: 2;
          grid-row: 1/3;

          .quiz-button-wrapper {
            min-width: 89px;
            min-height: 30px;
            border-radius: map-get($map: global.$border-radius, $key: round);
            background: map-get($map: global.$gradients, $key: 按钮烟色渐变);

            .quiz-button {
              color: map-get(global.$colors, 纯白色);
              font-size: map-get(global.$font-size , x-small);
              font-weight: map-get(global.$font-weight , bold);
            }
          }
        }
      }

      .tabs {
        grid-template-columns: 1fr 1fr 1fr;
        background-color: map-get($map: global.$colors, $key: 紫黑);

        view {
          position: relative;
          /* 设置过渡效果 */
          transition: all 0.5s ease;
          place-content: center;
          padding: 15px 0;
          font-size: map-get(global.$font-size , small);
          font-weight: map-get(global.$font-weight , bold);
        }

        .right:before,
        .left:after {
          content: '';
          position: absolute;
          top: 0;
          width: 15px;
          height: 15px;
          /* 设置过渡效果 */
          animation: moveAndFadeIn 0.5s ease;
          ;
        }

        @keyframes moveAndFadeIn {
          0% {
            height: 0;
          }

          100% {
            height: 15px;
          }
        }

        .right:before {
          right: -15px;
          background: radial-gradient(circle at 100% 100%, transparent 15px, map-get(global.$colors, 主题色) 0);
        }

        .left:after {
          left: -15px;
          background: radial-gradient(circle at 0% 100%, transparent 15px, map-get(global.$colors, 主题色) 0);
        }
      }
    }


    .list {
      background-color: map-get($map: global.$colors, $key: 紫黑);

      .item {
        align-content: center;
        align-items: center;
        grid-template-columns: 3rem auto 1fr auto auto;
        gap: 5px;
        height: 54px;

        .v1,
        .v5 {
          padding: 0 16px
        }

        .v1 {
          font-size: map-get(global.$font-size , medium);
          font-weight: map-get(global.$font-weight , bold);
        }

        .v3 {
          font-size: map-get(global.$font-size , small);
          font-weight: map-get(global.$font-weight , bold);
        }

        .v4 {
          font-size: map-get(global.$font-size , medium);
          font-weight: map-get(global.$font-weight , extra-bold);
          color: #9924E0;
        }

        .no1 {
          background: linear-gradient(251.44deg, #F5A022 19.28%, #FFCA10 80.72%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          text-shadow: 0px 0px 20px #FFAD55;
        }

        .no2 {
          background: linear-gradient(180deg, #B3B3B3 0%, #F5F5F5 100%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          text-shadow: 0px 0px 20px #F5F5F5;
        }

        .no3 {
          background: linear-gradient(180deg, #B37F43 0%, #D0995A 100%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          text-shadow: 0px 0px 20px #D0995A;
        }
      }
    }
  }
}