/* pages/answer/answer.wxss */
page {
  background: linear-gradient(180deg, #BC5CF8 0%, #6F3ED3 29.5%, #2F1969 100%);
}

.container {
  height: 100%;
  grid-template-rows: auto auto auto auto 1fr auto;

  .svg-group {
    display: flex;
    place-content: center end;
    gap: 30px;
    padding: map-get(global.$padding , large);
  }

  .avatar {
    place-content: center;
    padding-top: 10px;
  }

  .info {
    place-content: center;
    padding: 2px 0;
    font-size: map-get(global.$font-size , x-small);
    font-weight: map-get(global.$font-weight , medium);
  }

  .progress {
    grid-template-columns: 1fr;
    place-content: center;
    padding: 8px 15px;
  }

  .question-container {
    display: flex;
    position: relative;
    height: 100%;

    .questions {
      height: 100%;
      width: 100%;

      .question-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 16px;
        padding-bottom: 30px;

        .title {
          font-size: map-get(global.$font-size , x-large);
          font-weight: map-get(global.$font-weight , bold);
        }

        .option {
          place-content: start center;
          grid-template-columns: 1fr;
          gap: 8px;
          width: 100%;
          height: 100%;
          overflow: auto;

          .quiz-button-wrapper {
            border-radius: map-get(global.$border-radius , round);
            background-color: map-get(global.$colors , 白色透明三十);
            background-color: rgba($color: #fff, $alpha: 0.15);
            height: 43px;

            .quiz-button {
              font-size: map-get(global.$font-size , medium);
              font-weight: map-get(global.$font-weight , bold);
              background: none;
              color: map-get(global.$colors , 纯白色);
            }
          }
        }
      }
    }

    /* 指示点容器 */
    .indicator-dots {
      /* 限制宽高 */
      display: flex;
      width: 95px;
      height: 11px;
      gap: 10px;
      padding: 0 21px;

      /* 设置绝对定位 */
      position: absolute;
      bottom: 10px;
      left: 50%;
      /* 通过transform将自身偏移自身宽度的50% */
      transform: translateX(-50%);

      /* 限制子元素超出部分隐藏 */
      overflow: hidden;

      /* 指示点 */
      .indicator-dots-item {
        border-radius: 50%;
        height: 11px;
        min-width: 11px;
        background-color: rgba(255, 255, 255, 0.3);

        position: relative;
        transition: transform 0.5s linear,
          background-color 0.5s linear;
      }
    }
  }

  .bottom {
    position: relative;
    background-color: map-get(global.$colors , 加深紫);
    border-radius: 0;

    .bottom-item {
      padding: 17px 20px;
      background-color: map-get(global.$colors , 加深紫);
    }

    .input-group {
      position: relative;
      transition: bottom 0.2s ease;
      grid-template-columns: auto 1fr;
      place-content: center start;
      place-items: center stretch;
      gap: 6px;

      .input {
        font-size: map-get(global.$font-size , small);
        font-weight: map-get(global.$font-weight , bold);
      }

      .placeholder-input {
        font-weight: map-get(global.$font-weight , normal);
        color: map-get(global.$colors , 白色透明三十);
      }
    }

    .line {
      z-index: 101;
      height: 1px;
      background-color: rgba($color: #fff, $alpha: 0.15);
    }

    .svg-group {
      z-index: 101;
      place-content: start;
      place-items: start;
      height: 83px;
    }
  }
}

/* 抽屉样式 */
.preview {
  height: 89.16256vh;
  padding: 20px 12px 103px 12px;
  background-color: map-get(global.$colors , 加深紫);
  place-items: start center;
  gap: 20px;

  /* 抽屉预览框头部样式 */
  .preview-header {
    font-size: map-get(global.$font-size , medium);
    font-weight: map-get(global.$font-weight , bold);
  }

  .preview-main {
    width: 100%;
    height: 68.2266vh;
    overflow: auto;
    display: grid;
    gap: 8px;
    border-radius: 0;

    .preview-item {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: map-get(global.$border-radius , base);
    }

    .preview-described {
      font-size: map-get(global.$font-size , small);
      font-weight: map-get(global.$font-weight , medium);
      padding: 13px;
    }

    .preview-topic {
      grid-template-columns: min-content auto auto;
      padding: 11px 13px;
      gap: 3px;

      .preview-topic-svg {
        place-self: start center;
      }

      .preview-topic-title {
        grid-column: 2 / -1;
        font-size: map-get(global.$font-size , x-small);
        font-weight: map-get(global.$font-weight , medium);
        opacity: 0.7;
      }

      .preview-topic-opt {
        grid-column-start: 2;
        font-size: map-get(global.$font-size , small);
        font-weight: map-get(global.$font-weight , bold);
      }

      .preview-topic-input {
        place-items: center end;
        font-size: map-get(global.$font-size , x-small);
        font-weight: map-get(global.$font-weight , medium);
        opacity: 0.7;
      }
    }
  }
}