page {
  display: grid;
  place-items: start center;
  place-content: start center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: map-get(global.$colors, 主题色);
  color: map-get(global.$colors, 纯白色);
}

view {
  display: grid;
  place-items: start center;
  place-content: start center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-radius: map-get(global.$border-radius, small);
}

button {
  display: grid;
  place-items: center;
  padding: map-get(global.$padding, default) !important;
  margin: 0 !important;
}