page {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: map-get(global.$colors, 主题色);
  color: map-get(global.$colors, 纯白色);
}

view {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-radius: map-get(global.$border-radius, small);
}

button {
  display: grid;
  place-items: center;
  width: map-get(global.$button, default, width) !important;
  height: map-get(global.$button, default, height) !important;
  padding: map-get(global.$padding, default) !important;
  margin: 0 !important;
}