$font-size: (
  'xxxx-large': 60px,
  'xxx-large': 40px,
  'xx-large': 36px,
  'x-large': 32px,
  'large': 28px,
  'medium':20px,
  'small': 16px,
  'x-small': 12px,
);
$font-weight: (
  'black': 900,
  'extra-bold': 800,
  'bold': 700,
  'semi-bold': 600,
  'medium': 500,
  'normal': 400,
  'light': 300,
  'extra-light': 200,
  'thin': 100,
);
$padding: (
  'large': 10px 20px,
  'default': 6px 12px,
  'small': 2px 8px,
);
$colors: (
  "主题色": rgba(88, 48, 199, 1),
  "淡紫": rgba(119, 86, 236, 1),
  "主题粉": rgba(188, 92, 248, 1),
  "紫黑": rgba(31, 17, 70, 1),
  "六紫": rgba(111, 62, 211, 1),
  "纯白色": rgba(255, 255, 255, 1),
  "亮紫蓝": rgba(78, 63, 246, 1),
  "亮粉紫": rgba(167, 41, 226, 1),
  "亮天蓝": rgba(39, 177, 255, 1),
  "白色透明三十": rgba(255, 255, 255, 0.3),
  "白色透明十": rgba(255, 255, 255, 0.1),
  "常用黑": rgba(4, 11, 31, 1),
  "加深紫": rgba(47, 25, 105, 1),
);
$gradients: (
  "按钮烟色渐变": linear-gradient(90deg, #7756EC 0%, #AE2FDB 27.5%, #A729E2 98.5%),
);
$border-radius: (
  'small': 5px,
  'base': 15px,
  'round': 30px,
  'circle': 100%,
);