// 最大标题
$font-size-max-title: 36;
$font-weight-max-title: 900;
$font-color-max-title: rbga(255, 255, 255, 1);
// 小标题
$font-size-min-title: 32;
$font-weight-min-title: 700;
$font-color-min-title: rbga(255, 255, 255, 1);

// 标题强调最大号字体
$font-size-min-title: 20;
$font-weight-min-title: 900;
$font-color-min-title: rbga(255, 255, 255, 1);
// 常用标题大号字体
$font-size-min-title: 20;
$font-weight-min-title: 700;
$font-color-min-title: rbga(255, 255, 255, 1);

// 常用小标题或正文
$font-size-min-title: 16;
$font-weight-min-title: 700;
$font-color-min-title: rbga(255, 255, 255, 1);
// 较细字体正文
$font-size-min-title: 16;
$font-weight-min-title: 400;
$font-color-min-title: rbga(255, 255, 255, 1);
// 辅助提醒-超细
$font-size-min-title: 16;
$font-weight-min-title: 200;
$font-color-min-title: rbga(255, 255, 255, 0.3);

// 小文字-加强
$font-size-min-title: 12;
$font-weight-min-title: 700;
$font-color-min-title: rbga(255, 255, 255, 0.3);
// 小文字-辅助
$font-size-min-title: 12;
$font-weight-min-title: 400;
$font-color-min-title: rbga(255, 255, 255, 0.3);

