/* pages/set-user-info/set-user-info.wxss */
.container {
  place-items: start stretch;
  place-content: start center;
  grid-template-columns: 1fr;

  .header {
    padding-top: 5.1724vh;
    place-items: center;
    place-content: center;

    button {
      padding: 0 !important;
      width: auto !important;
      background-color: rgba(255, 255, 255, 0);

      .svg{
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .form {
    place-items: start stretch;
    padding: 0 36px;
    gap: 22px;

    .form-item {
      place-items: start stretch;
      gap: 5px;

      .label {
        font-size: map-get(global.$font-size , small);
        font-weight: map-get(global.$font-weight , medium);
        color: rgba(255, 255, 255, 0.5);
        padding-left: 24px;
      }

      .input {
        padding: 0 24px;
        height: 54px;
        background-color: rgba(255, 255, 255, 0.19);
        font-size: map-get(global.$font-size , medium);
        font-weight: map-get(global.$font-weight , 'black');
        border-radius: map-get(global.$border-radius , round);
      }

      .placeholder-input {
        font-weight: map-get(global.$font-weight , 'normal');
      }
    }

    .from-button {
      display: flex;
      grid-template-columns: 1fr 1fr;
      place-content: start space-between;
      place-items: center;
    }
  }
}