.quiz-progress-wrapper {
  border-radius: 100px;
  background-image: linear-gradient(to right, #b351f9, #9d48ed, #8740e0, #7038d4, #5830c7);
  border: 2px solid #FFF;
  overflow: hidden;

  .quiz-progress {
    border-radius: 100px;
    height: 100%;
    width: 80%;
    background-color: #FFF;

    transition: width 0.3s ease-in-out;
  }
}