.interflow {
  height: 100vh;
  background: linear-gradient(360deg, #2F1969 0%, #3E228B 52%, #A729E2 100%);


  .quiz-navigation-bar {

    .quiz-navigation-bar-left {
      padding-left: 0;

      .slot {
        grid-template-columns: auto auto auto;
        place-items: center;
        padding: 0 12px;

        border-radius: map-get($map: global.$border-radius, $key: round);
        background-color: rgba($color: #000000, $alpha: 0.15);

        .line {
          background-color: rgba($color: #fff, $alpha: 0.25);
          height: 19.2px;
          width: 1px;
        }
      }
    }
  }

  .search {
    grid-template-columns: 1fr auto;
    gap: 8px;
    padding: 0 12px;

    .input-wrapper {
      grid-template-columns: auto 1fr;
      place-content: center;
      align-items: center;
      gap: 5px;
      background-color: rgba($color: #fff, $alpha: 0.1);
      border-radius: map-get($map: global.$border-radius, $key: round);
      padding: 0 17px;

      .search-input {
        height: 30px;
        box-sizing: border-box;
        font-size: map-get(global.$font-size , small);
        font-weight: map-get(global.$font-weight , bold);
      }

      .placeholder-input {
        font-weight: map-get(global.$font-weight , normal);
        color: map-get(global.$colors , 白色透明三十);
      }
    }
  }


  .multiplayer,
  .recently-message {
    padding: 0 12px;

    .title {
      font-size: map-get(global.$font-size , small);
      font-weight: map-get(global.$font-weight , bold);
      padding: 10px 0;
    }
  }

  .multiplayer {
    .list {
      padding: 6px;
      display: flex;
      gap: 20px;

    }

    $card-border-radius: 12.5px;

    .card-wrapper {
      /* 防止子元素被压缩 */
      flex: 0 0 auto;

      width: 139px;
      height: 181px;
      padding: 1.5px;

      border-radius: $card-border-radius;

      .card {
        border-radius: $card-border-radius;
        background: url("https://th.bing.com/th?id=OIF.Es%2fn1y1KuN%2btilX1x6cuDw&w=291&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7") no-repeat center center;

        grid-template-rows: auto 1fr auto;

        .title {
          font-size: map-get(global.$font-size , medium);
          font-weight: map-get(global.$font-weight , 'black');
          padding: 4px 10px;
        }

        .percentage {
          grid-template-rows: auto auto;
          place-content: center;

          .number {
            grid-template-columns: auto auto;
            place-content: end center;

            .text1 {
              line-height: map-get(global.$font-size , xxx-large);
              font-size: map-get(global.$font-size , xxx-large);
              font-weight: map-get(global.$font-weight , 'extra-bold');
              place-self: end;
            }

            .text2 {
              font-size: map-get(global.$font-size , medium);
              font-weight: map-get(global.$font-weight , 'bold');
              place-self: end start;
              line-height: map-get(global.$font-size , medium);
            }
          }

          .text3 {
            font-size: map-get(global.$font-size , x-small);
            font-weight: map-get(global.$font-weight , 'bold');
            place-self: start center;
          }
        }

        .describe {
          padding: 4px 10px;
          font-size: map-get(global.$font-size , x-small);
          font-weight: map-get(global.$font-weight , bold);
          height: 90rpx;
          backdrop-filter: blur(10px);
          border-radius: 0px 0px 12.0667px 12.0667px;

        }

      }

      // 抽取到的卡片展示
      .draw-card {
        border-radius: $card-border-radius;
        width: 95%;
        height: 97%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        animation: draw-show 2s 1;

        display: flex;
        flex-direction: column;
      }

      /* 显示抽取到的卡片 */
      @keyframes draw-show {
        0% {
          opacity: 0;
        }

        90% {
          opacity: 0.2;
        }

        100% {
          opacity: 1;
        }
      }
    }

    /** 放大选择卡片 */
    .card-top {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      z-index: 3;
    }

    /** 点击选择卡片 */
    .card-bottom {
      animation: draw 2s 1;
    }

    /* 定义翻牌帧动画 */
    @keyframes draw {
      0% {
        transform: translate(-50%, -50%) scale(2);
      }

      50% {
        transform: translate(-50%, -50%) scale(0.2) rotatey(10turn);
      }

      100% {
        transform: translate(-50%, -50%) scale(2);
        border: 2px solid #7756EC;
        /* 2像素宽的黑色实线边框 */
      }
    }

    /* 使用伪元素创建扩散效果 */
    .card-bottom::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 104%;
      height: 104%;
      background-color: white;
      transform: translate(-2%, -2%);
      border-radius: $card-border-radius;
      box-sizing: border-box;
      /* 添加阴影效果 */
      box-shadow: 0 0 20px rgba($color: #7756EC, $alpha: 1.0);
      z-index: 3;
      animation: draw-before 2s 1 forwards;
    }

    /* 伪元素最终添加边框 */
    @keyframes draw-before {

      100% {
        border: 3.3px solid #7756EC;
        /* 2像素宽的黑色实线边框 */
      }
    }

    // 遮罩层
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }

  }

  .recently-message {
    .list {
      .item {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 6px;
        gap: 6px;

        .avatarUrl {
          grid-row: 1/span 2;
        }

        .nickname {
          width: 100%;
          font-size: map-get(global.$font-size , small);
          font-weight: map-get(global.$font-weight , bold);
          place-self: end start;
        }

        .msg {
          width: 100%;
          font-size: map-get(global.$font-size , x-small);
          font-weight: map-get(global.$font-weight , medium);
          place-self: start;
        }
      }
    }
  }
}