.interflow {
  height: 100vh;
  background: linear-gradient(360deg, #2F1969 0%, #3E228B 52%, #A729E2 100%);
  quiz-navigation-bar {
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .quiz-navigation-bar {

    .quiz-navigation-bar-left {
      padding-left: 0;

      .slot {
        grid-template-columns: auto auto auto;
        place-items: center;
        padding: 0 12px;

        border-radius: map-get($map: global.$border-radius, $key: round);
        background-color: rgba($color: #000000, $alpha: 0.15);

        .line {
          background-color: rgba($color: #fff, $alpha: 0.25);
          height: 19.2px;
          width: 1px;
        }
      }
    }
  }
}