.interflow {
  height: 100vh;
  background: linear-gradient(360deg, #2F1969 0%, #3E228B 52%, #A729E2 100%);


  .quiz-navigation-bar {

    .quiz-navigation-bar-left {
      padding-left: 0;

      .slot {
        grid-template-columns: auto auto auto;
        place-items: center;
        padding: 0 12px;

        border-radius: map-get($map: global.$border-radius, $key: round);
        background-color: rgba($color: #000000, $alpha: 0.15);

        .line {
          background-color: rgba($color: #fff, $alpha: 0.25);
          height: 19.2px;
          width: 1px;
        }
      }
    }
  }

  .search {
    grid-template-columns: 1fr auto;
    gap: 8px;
    padding: 0 12px;

    .input-wrapper {
      grid-template-columns: auto 1fr;
      place-content: center;
      align-items: center;
      gap: 5px;
      background-color: rgba($color: #fff, $alpha: 0.1);
      border-radius: map-get($map: global.$border-radius, $key: round);
      padding: 0 17px;

      .search-input {
        height: 30px;
        box-sizing: border-box;
        font-size: map-get(global.$font-size , small);
        font-weight: map-get(global.$font-weight , bold);
      }

      .placeholder-input {
        font-weight: map-get(global.$font-weight , normal);
        color: map-get(global.$colors , 白色透明三十);
      }
    }
  }


  .multiplayer,
  .recently-message {
    padding: 0 12px;

    .title {
      font-size: map-get(global.$font-size , small);
      font-weight: map-get(global.$font-weight , bold);
    }
  }

  .multiplayer {
    .list {
      display: flex;
      gap: 12px;

      .item {
        position: relative;
        min-width: 136px;
        min-height: 181px;
        border-radius: 12.5px;
        background: url("https://th.bing.com/th?id=OIF.Es%2fn1y1KuN%2btilX1x6cuDw&w=291&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7") no-repeat center center;
        // filter: blur(15px);
      }
      .item::after{
        width: 136px;
        height: 181px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit; /* 继承父元素背景 */
        border-radius: 15px;
        filter: blur(15px);
        z-index: -1; /* 置于背景图层之下 */
      }
    }
  }

  .recently-message {}
}