page {
  background-color: #020308;
}

swiper {
  height: 100%;
}

.bottom {
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.15);
  /* 设置背景模糊 */
  backdrop-filter: blur(100px);
  padding-bottom: 20px;
  height: 88px;
  width: 100%;
  position: absolute;
  bottom: 0;

  .svg {
    place-items: center;
  }
}