.navigation-bar {
  --padding: 10px;
  padding-bottom: var(--padding);
  grid-template-columns: 1fr 2fr 1fr;

  background-color: aqua;
  place-content: end;

  .navigation-bar-left {
    place-content: center start;

    background-color: rgb(143, 94, 30);
  }

  .navigation-bar-center {
    place-content: center;

    font-size: 36px;
    background-color: rgb(167, 115, 48);
  }

  .navigation-bar-right {
    background-color: antiquewhite;
  }
}