<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.PaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quiz.entity.Paper">
        <id column="paper_id" property="paperId"/>
        <result column="creator_user_id" property="creatorUserId"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="title" property="title"/>
        <result column="describe_" property="describe"/>
        <result column="answers" property="answers"/>
    </resultMap>
    <!-- Dto查询映射结果 -->
    <resultMap id="PaperDtoResultMap" type="com.quiz.dto.PaperDto">
        <id column="paper_id" property="paperId"/>
        <result column="creator_user_id" property="creatorUserId"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="title" property="title"/>
        <result column="describe_" property="describe"/>
        <result column="answers" property="answers"/>
        <collection property="questions" ofType="com.quiz.entity.Question">
            <id column="question_id" property="questionId"/>
            <result column="title" property="title"/>
            <result column="options_" property="options"/>
            <result column="created_at" property="createdAt"/>
            <result column="updated_at" property="updatedAt"/>
        </collection>
        <collection property="tags" ofType="com.quiz.entity.Tag">
            <result column="tag_id" property="tagId"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <select id="selectPaperById" resultType="com.quiz.dto.PaperDto" parameterType="java.lang.Integer">
        select a.*, c.*, e.*
        from quiz.q_paper a
                 left join quiz.q_paper_questions b
                           on a.paper_id = b.paper_id
                 left join quiz.q_question c
                           on b.question_id = c.question_id
                 left join quiz.q_paper_tags d
                           on a.paper_id = d.paper_id
                 left join quiz.q_tag e
                           on d.tag_id = e.tag_id
        where a.paper_id = #{paperId}
    </select>

</mapper>
