<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.PaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quiz.entity.Paper">
        <id column="paper_id" property="paperId"/>
        <result column="creator_user_id" property="creatorUserId"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="title" property="title"/>
        <result column="describe_" property="describe"/>
        <result column="answers" property="answers"/>
    </resultMap>
    <!-- Dto查询映射结果 -->
    <resultMap id="PaperDtoResultMap" extends="BaseResultMap" type="com.quiz.dto.PaperDto">
        <collection property="questions" autoMapping="true" ofType="com.quiz.entity.Question">
            <result column="question_title" property="title"/>
        </collection>
        <collection property="tags" autoMapping="true" ofType="com.quiz.entity.Tag"/>
    </resultMap>

    <select id="selectPaperById" resultMap="PaperDtoResultMap" parameterType="java.lang.Integer">
        select a.*, c.*, c.title as question_title, e.*
        from quiz.q_paper a
                 left join quiz.q_paper_questions b
                           on a.paper_id = b.paper_id
                 left join quiz.q_question c
                           on b.question_id = c.question_id
                 left join quiz.q_paper_tags d
                           on a.paper_id = d.paper_id
                 left join quiz.q_tag e
                           on d.tag_id = e.tag_id
        where a.paper_id = #{paperId}
    </select>

</mapper>
