<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.PathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quiz.entity.Path">
        <id column="path_id" property="pathId"/>
        <result column="pattern" property="pattern"/>
        <result column="http_method" property="httpMethod"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        path_id, pattern, http_method, permission_id
    </sql>
    <select id="selectPathDtoList" resultType="com.quiz.dto.PathDto">
        select *
        from t_path a
                 left join t_permission b on a.permission_id = b.permission_id
    </select>

</mapper>
