<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quiz.entity.Question">
        <id column="question_id" property="questionId"/>
        <result column="title" property="title"/>
        <result column="options_" property="options"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="selectRandomQuestions" resultType="com.quiz.entity.Question" parameterType="java.lang.Integer">
        SELECT *
        FROM quiz.q_question a
        WHERE a.question_id NOT IN (select qpq.question_id
                                    from quiz.q_paper qp
                                             left join quiz.q_paper_questions qpq on qp.paper_id = qpq.paper_id
                                    where qp.state != -1
                                      and qp.creator_user_id = #{userId})
        ORDER BY RAND()
        LIMIT #{num};
    </select>

</mapper>
