<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.QuestionMapper">
    <select id="selectRandomQuestions" resultType="com.quiz.entity.Question">
        SELECT *
        FROM quiz.q_question
        WHERE RAND() >= 0.1
        ORDER BY RAND()
        LIMIT 10;
    </select>
</mapper>
