<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.TPathMapper">

    <select id="getPathDtoList" resultType="com.quiz.dto.pathDto">
        select *
        from t_path
                 left join t_permission on t_path.permission_id = t_permission.permission_id
    </select>

</mapper>
