<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quiz.entity.User">
        <id column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="mail" property="mail"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="last_login_at" property="lastLoginAt"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- Dto查询映射结果 -->
    <resultMap id="UserDtoResultMap" extends="BaseResultMap" type="com.quiz.dto.UserDTO">
        <collection property="permissions" ofType="string">
            <result column="permission_name"/>
        </collection>
    </resultMap>

    <select id="selectUserDtoByAccount" resultMap="UserDtoResultMap">
        SELECT u.*, p.permission_name
        FROM quiz.t_user AS u
                 left join quiz.t_user_roles AS ur
                           ON u.user_id = ur.user_id
                 left JOIN quiz.t_role AS r
                           ON r.role_id = ur.role_id
                 left JOIN quiz.t_role_permissions AS rp
                           ON r.role_id = rp.role_id
                 left JOIN quiz.t_permission AS p
                           ON p.permission_id = rp.permission_id
        WHERE u.username = #{account}
           or u.mail = #{account}
           or u.phone = #{account}
    </select>
    <select id="selectUserByProviderId" resultMap="BaseResultMap">
        select u.*
        from quiz.t_user_auth tua
                 left join quiz.t_user u
                           on tua.user_id = u.user_id
        where tua.provider_id = #{providerId}
    </select>
    <select id="selectIntimateRanking" resultType="com.quiz.dto.UserDTO">
        select c.*, sum(b.score) as total_score
        from quiz.q_paper a
                 left join quiz.q_answers b
                           on a.paper_id = b.paper_id
                 left join quiz.t_user c
                           on b.responder_user_id = c.user_id

        where a.state != -1
          and a.creator_user_id = #{userId}
          and b.responder_user_id is not null
        group by c.user_id
        order by total_score desc;
    </select>
    <select id="selectIntimateFriends" resultType="com.quiz.entity.User">
        select us.*
        from quiz.q_paper a
                 left join quiz.q_answers b on a.paper_id = b.paper_id
                 left join quiz.t_user us on a.creator_user_id = us.user_id
        where a.state != -1
          and a.creator_user_id = #{userId}
          and b.score = 100
        group by us.user_id
    </select>
    <select id="selectUserDtoByUserId" resultType="com.quiz.dto.UserDTO">
        select a.*,
               count(distinct b.paper_id)          as paper_total,
               count(distinct c.answer_id)         as answers_total,
               count(distinct d.responder_user_id) as intimate_friend_total
        from quiz.t_user a
                 left join quiz.q_paper b on a.user_id = b.creator_user_id # 我的出题
                 left join quiz.q_answers c on a.user_id = c.responder_user_id # 我的答题
                 left join quiz.q_answers d on b.paper_id = d.paper_id and d.score = 100 # 做我的试卷,得分100分的
        where a.user_id = #{userId}
        group by a.user_id
    </select>
</mapper>
