<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quiz.entity.User">
        <id column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="mail" property="mail"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="last_login_at" property="lastLoginAt"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- Dto查询映射结果 -->
    <resultMap id="UserDtoResultMap" extends="BaseResultMap" type="com.quiz.dto.UserDTO">
        <collection property="permissions" ofType="string">
            <result column="permission_name"/>
        </collection>
    </resultMap>

    <select id="selectUserDtoByAccount" resultMap="UserDtoResultMap">
        SELECT tu.*, tp.permission_name
        FROM quiz.t_user AS tu
                 left join quiz.t_user_roles AS tur
                           ON tu.user_id = tur.user_id
                 left JOIN quiz.t_role AS tr
                           ON tr.role_id = tur.role_id
                 left JOIN quiz.t_role_permissions AS trp
                           ON tr.role_id = trp.role_id
                 left JOIN quiz.t_permission AS tp
                           ON tp.permission_id = trp.permission_id
        WHERE tu.username = #{account}
           or tu.mail = #{account}
           or tu.phone = #{account}
    </select>
    <select id="selectUserByProviderId" resultMap="BaseResultMap">
        select tu.*
        from quiz.t_user_auth tua
                 left join quiz.t_user tu
                           on tua.user_id = tu.user_id
        where tua.provider_id = #{providerId}
    </select>
    <select id="selectIntimateRanking" resultType="com.quiz.dto.UserDTO">
        select tu.*, sum(qa.score) as total_score
        from quiz.q_paper qp
                 left join quiz.q_answer qa
                           on qp.paper_id = qa.paper_id
                 left join quiz.t_user tu
                           on qa.responder_user_id = tu.user_id

        where qp.state != -1
          and qp.creator_user_id = #{userId}
          and qa.responder_user_id is not null
        group by tu.user_id
        order by total_score desc;
    </select>
    <select id="selectUserDtoByUserId" resultType="com.quiz.dto.UserDTO">
        select tu.*,
               count(distinct qp.paper_id)          as paper_total,
               count(distinct qa.answer_id)         as answer_total,
               count(distinct qa2.responder_user_id) as intimate_friend_total
        from quiz.t_user tu
                 left join quiz.q_paper qp on tu.user_id = qp.creator_user_id # 我的出题
                 left join quiz.q_answer qa on tu.user_id = qa.responder_user_id # 我的答题
                 left join quiz.q_answer qa2 on qp.paper_id = qa2.paper_id and qa2.score = 100 # 做我的试卷,得分100分的
        where tu.user_id = #{userId}
        group by tu.user_id
    </select>
</mapper>
