.quiz-navigation-bar {
  --padding: 10px;

  grid-template-columns: 1fr auto 1fr;
  place-content: end;
  place-items: end start;

  width: 100vw;
  padding-bottom: var(--padding);

  .quiz-navigation-bar-left {
    place-content: end start;
    padding-left: 8px;
  }

  .quiz-navigation-bar-center {
    place-content: end center;
    font-weight: map-get(global.$font-weight, 'black');
    font-size: map-get(global.$font-size, large);
    /* 规定元素不换行 */
    white-space: nowrap;
  }

  .quiz-navigation-bar-right {
    place-content: end;
  }
}